<section class="cadastro">
<h1>Adicione um Usuário!</h1>
<form action="/users/create" class="form" method="POST">
<div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name">
</div>
<div class="form-control">
    <label for="occupation">Ocupação:</label>
    <input type="text" name="occupation">
</div>
<div class="form-control form-checkbox">
    <input type="checkbox" name="newsletter">
    <label class="newsletter" for="newsletter">Enviar promoções?</label>
</div>
<input type="submit" value="Cadastrar">
</form>
</section>