    <h1>Olá HandleBars!</h1>
    {{#if approved}}
    <p>Parabéns, o seu cadastro foi aprovado! </p>
    {{else}}
        <p>O seu cadastro precisa de aprovação completa para conseguir utilizar o sistema! </p>
    {{/if}}
    <p>O nome do Usuário é {{user.name}} {{user.surname}}</p>
    {{#if auth }}
        <p>
            Você está autenticado, <a href="/dashboard">clique aqui </a> para acessar a área de membros!
        </p>
    {{/if}}

