<h1>Criação de Task</h1>

<form action="/tasks/add" method="POST">
<div class="form-control">
    <label for="title">Titúlo:</label>
    <input type="text" name="title" placeholder="O que você vai fazer?">
</div>
<div class="form-control">
    <label for="description">Descrição:</label>
    <textarea name="description" id="description" placeholder="Descreva a tarefa..."></textarea>
</div>
<div class="form-control">
    <input type="submit" value="Criar">
</div>
</form>