<h1>Editando a tarefa:{{task.title}}</h1>

<form action="/tasks/edit" method="POST">
<div class="form-control">
    <input type="hidden" name="id" value="{{task.id}}">
    <label for="title">Titúlo:</label>
    <input type="text" name="title" value="{{task.title}}" placeholder="O que você vai fazer?">
</div>
<div class="form-control">
    <label for="description">Descrição:</label>
    <textarea name="description" id="description" placeholder="Descreva a tarefa...">{{task.description}}</textarea>
</div>
<div class="form-control">
    <input type="submit" value="Editar">
</div>
</form>