
<form action="/books/insertbook" method="POST">
<h1>Cadastre o seu livro:</h1>
<div class="form-control">
       <label for="title">Titulo</label>
       <input type="text" name="title" placeholder="Digite o titulo">
</div>
<div class="form-control">
       <label for="pagesqty">Total de Páginas</label>
       <input type="number" name="pageqty" placeholder="Digite a quantidade de paginas">
       <input type="submit" value="Cadastrar">
</div>

</form>